.avatar {
    content:url("https://lh3.googleusercontent.com/a/ACg8ocK9Z7YsqCvb0ml5GNuWXg8VL1dlzOrhFXLmnovFUA1crl78m62N=s4000-c-no");
}

.d-block.m-auto.pb-3 {
    content:url("https://lh3.googleusercontent.com/a/ACg8ocK9Z7YsqCvb0ml5GNuWXg8VL1dlzOrhFXLmnovFUA1crl78m62N=s4000-c-no");
}

.school-card-barcode {
    visibility: hidden;
    overflow: hidden;
    height: 0;
  }