.sk_page {
    background-color: #000000!important;
    background-size:     cover !important;                      /* <------ */
    background-repeat:   no-repeat !important;
    background-position: center center !important;              /* optional, center the image */
    background-attachment: fixed !important;
}
.sk_header {
    background-color: #000000!important;
    background-size:     cover !important;                      /* <------ */
    background-repeat:   no-repeat !important;
    background-position: center center !important;              /* optional, center the image */
    background-attachment: fixed !important;
}
body .sk-main-content {
    background: rgba(0, 0, 0, 0.48) !important;
    border-radius: 16px !important;
    border-bottom-left-radius: 16px !important;
    border-bottom-right-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
}
body .sk_school_name {
   /* display: none; */
    background: -webkit-linear-gradient(#549ea8, #346369);
    -webkit-background-clip: text;
    text-shadow: 2px 2px #003f87;
    color: #f7f7f7 !important;
}
body .sk_thead th {
    background-color: #409dc2 !important;
}
.is-today {
    background-color: #409dc257 !important;
}
body .sk_school_subheading {
 /*   display: none; */
    background: -webkit-linear-gradient(#0097a1, #003e68);
    -webkit-background-clip: text;
    text-shadow: 2px 2px #003f87;
    color: #f7f7f7 !important;
}
body .sk_nav {
    background: rgba(0, 0, 0, 0.67) !important;
    border-radius: 16px !important;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(5px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(0, 0, 0, 0.3) !important;
}
body .card-body, .table td, tr {
    border-color: black !important;
}
/* body .google-visualization-tooltip {
    color: #000000 !important;
} */
.btn-success {
    background: -webkit-linear-gradient(#49cea2, #00849b); /*(#49CECB, #00509b);*/
    color: #fff !important;
}
.btn-info {
    background: -webkit-linear-gradient(#28a3a1, #003363);
    color: #fff !important;
}
.btn-danger {
    background: -webkit-linear-gradient(#d80000, #640000);
    color: #fff !important;
}
.btn-secondary {
    background: -webkit-linear-gradient(#e0e0e0, #313131);
    color: #fff !important;
}
.btn-warning {
    background: -webkit-linear-gradient(#49cea2, #00849b);
    color: #fff !important;
}
body .sk_thead_cell {
    background-color: #409dc2 !important;
}
body .sk_btn.active, .sk_btn:active, .sk_btn:hover {
    background-color: #63c9ff !important;
    border-color: black !important;
    color: white !important;
}
body .sk_btn, .sk_btn.disabled:hover {
    background-color: #409dc2 !important;
    border-color: black !important;
}
body .nav-item.active .sk_nav_text {
    color: #63c9ff !important;
}
a.sk_nav_text.nav-link.nav-link:hover {
    color: #63c9ff !important;
}
/* light mode fixes */
body .sk_nav_text {
    color: #ffffff !important;
}
body .container {
    color: white;
}
body .sk_btn svg {
    fill: #ffffff !important; 
}
body .sk_btn:hover {
    color: #ffffff !important;
}
body .school-card {
    color: white !important;
}
/* end */
body .sk_table {
    color: #ffffff !important;
}
body .sk_btn, .sk_btn.disabled:hover {
    color: #ffffff !important;
}